<div class="row">
  <div class="col-xs-12 ">
    <h3>My Task : </h3>

    <ul class="list-group ">
      <a
        class="list-group-item task"
        *ngFor="let task of taskList; let i = index"
        [ngClass]="{'TaskActive': i === selectedTaskIndex,'task': i !== selectedTaskIndex}"

        (click)="selectTask(i)"
        (contextmenu)="deleteTask(event,i)"
      >
        <strong>
          task : {{i}} | {{ task.title}}
        </strong>
        <p class="text-wrap blue">
          {{task.description}}
        </p>

        <p> due date : {{task.dueDate | date }}</p>
      </a>
    </ul>
  </div>

</div>
